.App {
  text-align: center;
}

li {
  font-size: larger;
  list-style: none;
  color: #0b2e04;
  font-weight: bold;
  background-color: rgba(202, 221, 118, 0.685);
  padding: 1rem;
  border-bottom: 1px solid #26262633;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
}